.asse{
    color : rgb(93, 140, 6);
    background-color: rgb(7, 7, 51);
}
nav.ass{
    background-color: rgb(93, 140, 6);
    color: rgb(5, 5, 68);
    
}
.ligne{
    background-color:rgb(7, 7, 51) ;
}
div .btn{
    background-color: rgb(93, 140, 6);
    color: rgb(5, 5, 68);
}
.prix{
    color:rgb(93, 140, 6) ;
} 
.avantd{
    background-color: rgb(5, 5, 68); 
    color:rgb(93, 140, 6) ;
}
.p{
    color:aliceblue
}
.ac1{
    background-color:rgb(13, 13, 64);
    color: rgb(214, 214, 207);
}


div .asse{
    background-color:rgb(108, 111, 7);
}
body{
    background-color: rgb(218, 217, 216);
}
